<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (!user) {%>
      <button><a href="/sign-in">Sign in</a></button>
    <%} else {%>
      <button><a href="/log-out">Log out</a></button>
      <%}%>

    <ul class="message-list">
      <%messages.map((message) => { %>
        <li>
          <p><b><%-message.title%></b></p>
          <p><%-message.messageContent%></p>
          <%if (user) {%>
          <p><b><%=message.createdAt%></b></p>
          <p><i><%-message.author.firstName + ' ' + message.author.lastName%></i></p>
          <%}%>
        </li>
      <%})%>
    </ul>
    <% if (user) {%>
      <form class="sign-up-form" action="/send-message" method="POST">
        <div>
            <label for="title">Title</label>
            <input name="title" type="text"
            value="<%=typeof messageTitle === 'undefined' ? '' : messageTitle%>">
        </div>
        <div>
            <label for="message">Message</label>
            <textarea name="message" id="" cols="30" rows="10"
            value="<%=typeof message === 'undefined' ? '' : message%>"></textarea>
        </div>
        <button type="submit">Send Message</button>
    </form>
    <%}%>
  </body>
</html>
